.header {
    position: absolute;
    top: 0;
    margin-top: -1.5rem;
    left: 0;
    width: 100%;
    z-index: 50;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: transparent;
    pointer-events: none;
}

.logoLink {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    pointer-events: auto;
}

.logoLink:hover {
    transform: scale(1.05);
}

.logoImage {
    object-fit: contain;
    filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.5));
}